.todo-item {
  border: 1px solid black;
  border-radius: 5%;
  width: 50%;
  height: 30px;
  text-align: left;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item .text {
  width: 90%;
}
.todo-item .text-done {
  width: 90%;
  text-decoration-line: line-through;
}

.icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-self: center;
}
